<section class="login-signup-container">
	<h2 class="login-signup-form-header">Signup</h2>
	<form method="post" class="minimal">
		<label for="name">
			Name:
      <input type="text" name="name" id="name" placeholder="Your full name" />
		</label>
    <label for="grades">
      Grades:
      <input type="text" name="grades" id="grades" placeholder="Grades I teach" />
    </label>
    <label for="school">
      My School's Name:
      <input type="text" name="school" id="school" placeholder="Where I teach" />
    </label>
    <label for="school-city">
      City:
      <input type="text" name="school-city" id="schoo-cityl" placeholder="My school's city" />
    </label>
    <label for="username">
			Username:
      <input type="text" name="username" id="username" placeholder="Username" />
		</label>
    <label for="password">
			Password:
      <input type="password" name="password" id="password" placeholder="Password must be between 8 and 20 characters" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required">
		</label>
		<button type="submit" class="btn-minimal">Sign in</button>
	</form>
</section>
