<section class="signup-container">
	<h2 class="signup-form-header">Sign Up</h2>
	<form class="signup-form" method="post" class="minimal">
		<label for="name">
      <input type="text" name="name" id="name" placeholder="My full name" />
		</label>
    <label for="grades">
      <input type="text" name="grades" id="grades" placeholder="Grades I teach" />
    </label>
    <label for="school">
      <input type="text" name="school" id="school" placeholder="Where I teach" />
    </label>
    <label for="school-city">
      <input type="text" name="school-city" id="school-city" placeholder="My school's city" />
    </label>
    <label for="username">
      <input type="text" name="username" id="username" placeholder="Username" />
		</label>
    <label for="password">
      <input type="password" name="password" id="password" placeholder="Password must be between 8 and 20 characters" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required">
		</label>
    <div class="signup-button-container">
		<button class="signup-button" type="submit">Sign Up</button>
    </div>
  </form>
</section>
