
<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <h2>LessonTree</h2>
  </div>
  <div class="footer-links">
    <ul>
      <li><a href="/home/about">About</a></li>
    </ul>
    <ul>
      <li><a href="/users">Sign Up</a></li>
    </ul>
    <ul>
      <li><a href="/home/about">Terms &#38; Conditions</a></li>
    </ul>
  </div>

  <hr/>
</footer>
