<h2>Following:</h2>
  <ul>
    <% for friendship in @user.friendships %>
      <li>
        <%=h friendship.friend.name %>
        
      </li>
    <% end %>
  </ul>

<h2>Followers:</h2>
  <ul>
    <% for user in @user.inverse_friends %>
      <li><%=h user.name %></li>
    <% end %>
  </ul>
