<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<section class="profile-wrapper">
  <aside class="user-profile-photo-wrapper">
    <img class="user-profile-photo" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT-bIRT5v5o3qJHC2KGYbbjIsBcZ0s2pJQHO2J-_lxtuPUPc6drvg">
  </aside>

  <aside class="user-profile-information-wrapper-left">
    <ul class = "user-profile-information-categories"
      <li>Name:</li>
      <li>Grade(s):</li>
      <li>School Name:</li>
      <li>City:</li>
      <li>State:</li>
    </ul>
  </aside>

  <aside class="user-profile-information-wrapper-right">
    <ul class = "user-profile-unique-information"
      <li>Martha Washington</li>
      <li>7th-8th</li>
      <li>Washington Heights Middle School</li>
      <li>New York</li>
      <li>New York</li>
    </ul>
  </aside>
</section>
