



<section class="nav-wrapper-profile-page">
  <ul class="top-nav-profile-page">
    <div class="modal">
      <label for="modal-1">
        <li class="modal-trigger">Login</li>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-1"></label>
          <h1>Modal Title</h1>
          <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
        </div>
      </div>
    </div>

    <div class="modal">
      <label for="modal-2">
        <li class="modal-trigger">Sign Up</li>
      </label>
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-2"></label>

          <div class="signup-modal-form">
            <form>
              <label for="new-first-name">First Name:</label>
              <input type="text" id="new-username" name="new-username">

              <label for="new-username">Username:</label>
              <input type="text" id="new-username" name="new-username">

              <label for="new-password">Password:</label>
              <input type="password" id="new-password" name="new-password">



            </form>
            </div>

        </div>
      </div>
    </div>

    <div class="modal">
      <label for="modal-3">
        <li class="modal-trigger">About</li>
      </label>
      <input class="modal-state" id="modal-3" type="checkbox" />

      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-3"></label>

        </div>
      </div>
    </div>
	</ul>
</section>

<section class="profile-wrapper">

  <aside class="user-profile-photo-wrapper">
    <img class="user-profile-photo" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT-bIRT5v5o3qJHC2KGYbbjIsBcZ0s2pJQHO2J-_lxtuPUPc6drvg">
  </aside>

  <aside class="user-profile-information-wrapper-left">
    <ul class = "user-profile-information-categories"
      <li>Name:</li>
      <li>Grade(s):</li>
      <li>School Name:</li>
      <li>City:</li>
      <li>State:</li>
    </ul>
  </aside>

  <aside class="user-profile-information-wrapper-right">
    <ul class = "user-profile-unique-information"
      <li>Martha Washington</li>
      <li>7th-8th</li>
      <li>Washington Heights Middle School</li>
      <li>New York</li>
      <li>New York</li>
    </ul>
  </aside>
</section>
