
  <div class="search-box-wrapper">
    <form class="inline-search-form">
      <input id="inline-search-field" type="text" placeholder="Find Plans" required>
      <input class="inline-search-button" type="button" value="Search">
    </form>
  </div>

  <div class="save-button-wrapper">
    <button class="save-button" type="button">Save</button>
  </div>

  <div class="edit-button-wrapper">
    <button class="edit-button" type="button">Edit</button>
  </div>

  <div class="edit-save-buttons-wrapper">
    <button class="edit-button" type="button">Edit</button>
    <button class="save-button" type="button">Save</button>
  </div>
