<!-- MAIN NAV -->
  <nav>
    <div class="nav-wrapper">
        <div class="logo-wrapper">
          <ul class="nav-logo">
            <li class="logo"><h1>LessonTree</h1></li>
          </ul>
        </div>

      <div class="list-wrapper">
        <ul class="nav-list">
          <li class="nav-about"><a href="#">About</a></li>
          <li class="nav-signup"><a href="#">Sign Up</a></li>
          <li class="nav-login"><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>

    <!-- SEARCH BOX -->

  <div class="search-box-wrapper">
    <form class="inline-search-form">
      <input id="inline-search-field" type="text" placeholder="Find Plans" required>
      <input class="inline-search-button" type="button" value="Search">
    </form>
  </div>

<!-- SAVE BUTTON -->
  <div class="save-button-wrapper">
    <button class="save-button" type="button">Save</button>
  </div>

  <!-- EDIT BUTTON -->
  <div class="edit-button-wrapper">
    <button class="edit-button" type="button">Edit</button>
  </div>

  <!-- EDIT and SAVE BUTTONS SIDE BY SIDE -->
  <div class="edit-save-buttons-wrapper">
    <button class="edit-button" type="button">Edit</button>
    <button class="save-button" type="button">Save</button>
  </div>

  <!-- SIGNUP FORM -->
  <div class="signup-container">
    <div class="signup-form-header">
      <h2>Get Started with LessonTree</h2>
    </div>

    <h3 class="signup-form-error"><%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %></h3>
    <h3 class="signup-form-error"><%= devise_error_messages! %></h3>

      <div class=".signup-form-label">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <br><div class="signup-form-label">
        <%= f.label :password %>
        <% if @validatable %>
        <em class="weird">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off" %>
      </div></br>

      <br><div class="signup-form-label">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div></br>

      <div class="signup-button-container">
        <%= f.submit "Signup", :class => 'signup-button' %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>

  <!-- LOGIN FORM -->
  <div class="signup-container">
    <div class="signup-form-header">
      <h2>Login</h2>
    </div>



    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form.minimal label">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="form.minimal label">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="form.minimal label">
      <% if devise_mapping.rememberable? -%>

        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    <% end -%>
  </div>

    <div class="btn-minimal-container">
      <%= f.submit "Submit", :class => 'btn-minimal' %>
    </div>
  <% end %>
  </div>

  <%= render "devise/shared/links" %>



  <!-- FOOTER-->
  <footer>
      <div class="footer">
        <h1 class="footer-head"><a href="/">LessonTree</a></h1>
        <ul class="footer-subheads">
          <li class="about-footer"><a href="/home/about">About</a></li>
          <li class="signup-footer"><a href="/users">Sign Up</a></li>
          <li class="terms-footer"><a href="#">Terms &#38; Conditions</a></li>
        </ul>
        <div class="footer-ruler">
      </div>
        <ul class="social-icons">
          <a href="http://www.twitter.com"><li class="icon-twitter-circled"></li></a>
          <a href="http://www.facebook.com"><li class="icon-facebook-circled"></li></a>
          <a href="http://www.pinterest.com"><li class="icon-pinterest-circled"></li></a>
        </ul>
      </div>
    </footer>
