<!--use these guidelines for & text/font-->
<!--for the h1 tag (& the only one ought to be on the hm pg/hero, use 'hind, sans-serif'
for body text, use 'merriweather, serif', and for the logo always use 'dancing script, cursive',
on the buttons, use 'hind, sans-serif')-->


<!--use this code for headers-->
 <header>
   <nav class="nav-bar">
     <ul>
       <li class="nav-logo-btn"><a href="about.html.erb">LessonTree</a></li>
     </ul>
     <ul class="all-the-btns">
       <li class="nav-link-about-btn"><a href="about.html.erb">About Us</a></li>
       <li class="nav-link-login-btn"><a href="login.html.erb">Log In</a></li>
       <li class="nav-link-signup-btn"><a href="signup.html.erb">Sign Up</a></li>
     </ul>
   </nav>
 </header>




<!--use this code for other headers-->
<!-- <header>
  <nav class="nav-bar">
     <ul class="all-the-btns">
       <li class="nav-link-signout-btn"><a href="signout.html.erb">Sign Out</a></li>
     </ul>
  </nav>
</header> -->




<!--use this code for the logo, wherever it may be-->
<!--might need to adjust the display, padding, margin-->
<!-- <ul>
  <li class="nav-logo-btn"><a href="about.html.erb">LessonTree</a></li>
</ul> -->



<!--this is for the hero, hm pg -->
<div class="main-container-hero">
    <h1>Teacher Lesson Plans<h1>
     <p class="key-words">find, create, share, connect</p>
     <p class="third-line">all in one place</p>
  </div>
