<!--use these guidelines for text/font-->

<!--there should be only one h1 tag, it's on the hm pg/in the hero section
the font to use is 'hind, sans-serif'

-for body text, use 'merriweather, serif'

-for the logo always use 'dancing script, cursive'

-on the buttons, use 'hind, sans-serif', first letter of each word capitalize,
then lowercase the following letters in the word -->

<!--end of text/font guidelines-->



<!--use this code for headers/nav bar buttons-->
 <header>
   <nav class="nav-bar">
     <ul>
       <li class="nav-logo-btn"><a href=" ">LessonTree</a></li>
     </ul>
     <ul class="all-the-btns">
       <li class="nav-link-about-btn"><a href=" ">About Us</a></li>
       <li class="nav-link-login-btn"><a href=" ">Log In</a></li>
       <li class="nav-link-signup-btn"><a href=" ">Sign Up</a></li>
       <li class="nav-link-logout-btn"><a href=" ">Log Out</a></li>
       <li class="nav-link-myprofile-btn"><a href=" ">My Profile</a></li>
     </ul>
   </nav>
 </header>
<!--end of headers/nav bar buttons-->



<!--this is for the hero, hm pg -->
<div class="main-container-hero">
    <h1>Teacher Lesson Plans<h1>
     <p class="key-words">find, create, share, connect</p>
     <p class="third-line">all in one place</p>
</div>
<!--the end of the hero/hm pg -->


<!--use this code for the logo that will be anywhere outside of the header/nav bar  -->
<ul>
  <li class="nav-logo-btn-two"><a href= " ">LessonTree</a></li>
</ul>
<!--the end of the logo code  -->
