<!--use these guidelines for & text/font-->
<!--for the h1 tag (& the only one ought to be on the hm pg/hero, use 'hind, sans-serif'
for body text, use 'merriweather, serif', and for the logo always use 'dancing script, cursive',
on the buttons, use 'hind, sans-serif')-->


<!--use this code for headers-->
 <header>
   <nav class="nav-bar">
     <span class="nav-logo"><a href="about.html.erb">About Us</a></li>
     <ul>
       <li class="nav-link"><a href="about.html.erb">About Us</a></li>
       <li class="nav-link"><a href="login.html.erb">Log In</a></li>
       <li class="nav-link"><a href="signup.html.erb">Sign Up</a></li>
     </ul>
   </nav>
 </header>

<!--use this code for other headers-->
<!-- <header>
  <nav class="nav-bar">
    <span class="nav-logo"><a href="about.html.erb">About Us</a></li>
    <ul>
      <li class="nav-link"><a href="about.html.erb">About Us</a></li>
      <li class="nav-link"><a href="login.html.erb">Log In</a></li>
      <li class="nav-link"><a href="signout.html.erb">Sign Out</a></li>
    </ul>
  </nav>
</header> -->

<!--use this code for the logo, wherever it may be-->
