<body>
  <div class="logo">Lesson Tree</div>
    <div class="main-container">
      <div class="buttons">
        <button class="about-button">About</button>
        <button class="log-in-button">Log In</button>
        <button class="sign-up-button">Sign Up</button>
      </div>
      <h1>Teacher Lesson Plans<h1>
        <p class="key-words">find, share, edit, plan, save</p>
        <h2>all in one place</h2>
    </div>
  </body>
