


  <div class="main-container-hero">
      <h1>Teacher Lesson Plans<h1>
        <p class="key-words">find, create, share, connect</p>
        <p class="third-line">all in one place</p>
    </div>



    <!-- <div class="search-box-wrapper">
      <form class="inline-search-form">
        <input id="inline-search-field" type="text" placeholder="Find Plans" required>
        <input class="inline-search-button" type="button" value="Search">
      </form>
    </div> -->




  <a id="steady_scroll" name="steady_scroll"></a>
    <div class="search-box-wrapper">
      <%= render :partial => 'home/search' %>
    </div>
  </a>


  <a id="cards_scroll" name="cards_scroll">
  <div class="card-container">
    <div class="cards">
    <% @lessons.each do |l| %>
      <div class="card">
        <%= link_to l do %>
          <div class="card-image">
            <h3> <%= l.topic %></h3>
          </div>
          <div class="card-header">
            <%= l.description.html_safe + "..." %>
          </div>
          <div class="card-copy">
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
 </div>
</a>
