<section class="main-container-hero">
  <div class="hero">

    <h1>FIND &#8226; CREATE &#8226; SHARE</h1>

    <p class="key-words">your next lesson plan</p>

    <a id="steady_scroll" name="steady_scroll"></a>
      <div class="search-box-wrapper">
        <%= render 'home/search', params: params %>
      </div>
    </a>
</div>

</section>

<!-- <a id="cards_scroll" name="cards_scroll"> -->
<section class="lesson-preview-container">
<%= render 'lessons' %>
</section>
