<section class="main-container-hero">
  <div class="hero">
    <h1>Teacher Lesson Plans</h1>
    <p class="key-words">find, create, share, connect</p>

    <a id="steady_scroll" name="steady_scroll"></a>
      <div class="search-box-wrapper">
        <%= render 'home/search', params: params %>
      </div>
    </a>
</div>
</section>


<div class="page-headline">Lessons</div>

<div id="paginator">
<%= paginate @lessons, :remote => true %>
</div>

<div class="page-headline-rule-container">
  <div class="page-headline-rule-first"></div>
  <div class="page-headline-triangle"></div>
</div>


<!-- <a id="cards_scroll" name="cards_scroll"> -->
<section class="lesson-preview-container">
<%= render 'lessons' %>
</section>
