<section class="main-container-hero">
  <div class="hero">
    <h1>Teacher Lesson Plans</h1>
    <p class="key-words">find, create, share, connect</p>

    <a id="steady_scroll" name="steady_scroll"></a>
      <div class="search-box-wrapper">
        <%= render 'home/search', params: params %>
      </div>
    </a>
</div>
</section>

<!-- <a id="cards_scroll" name="cards_scroll"> -->
<section class="lesson-preview-container">
<%= render 'lessons' %>
</section>
