<!-- LOGGED OUT NAVIGATION-->
<nav class="nav-login-bar">
  <div class="nav-logo">
    <ul>
      <li class="logo"><a href= "/" >LessonTree</a></li>
    </ul>
  </div>
  <div class="nav-list">
    <ul>
      <li class="nav-about"><a href="/home/about">About Us</a></li>
      <li class="nav-signup"><a href="/users/sign_up">Sign Up</a></li>
      <li class="nav-login"><a href="/users/sign_in">Log In</a></li>
    </ul>
  <div>
</nav>


<!-- LOGGED IN NAVIGATION-->
<nav class="nav-logout-bar">
  <div class="nav-logo">
    <ul>
      <li class="logo"><a href= "/" >LessonTree</a></li>
    </ul>
  </div>
  <div class="nav-list">
    <ul>
      <li class="nav-myProfile"><a href=" ">My Profile</a></li>
      <li class="nav-edit-profile"><a href=" ">Edit Profile</a></li>
      <li class="nav-logout"><a href=" ">Log Out</a></li>
    </ul>
  <div>
</nav>


<!-- HERO HOMEPAGE -->

<section class="main-container-hero">
<div class="hero">
    <h1>Teacher Lesson Plans</h1>
     <p class="key-words">find, create, share, connect</p>
</div>



<!-- SEARCH BOX -->
       <div class="search-box-wrapper">
         <form class="inline-search-form">
           <input id="inline-search-field" type="text" placeholder="Find Plans" required>
           <input class="inline-search-button" type="button" value="Search">
         </form>
       </div>

</section>


<!-- HOMEPAGE LESSON PREVIEWS-->
<!-- <link href="https://fontastic.s3.amazonaws.com/SVrEZX6mMSGxN8iWYCeYrJ/icons.css" rel="stylesheet"> -->
  <section class="lesson-preview-container">
    <a class="lesson-preview-link" href="http://www.google.com">

    <div class="lesson-preview-title-container">
      <h3 class="lesson-preview-title">Example of Lesson Title</h3>
      <ul>
          <li class="lesson-preview-subject-list">Social Studies</li>
          <li class="lesson-preview-pipe">|</li>
          <li class="lesson-preview-grade-list">1st Grade</li>
    </ul>
    </div>

    <div class="lesson-preview-description-container">
      <ul class="star-ranking">
      <li class="icon-star"></li>
      <li class="ranking">12</li>
      </ul>
      <p class="lesson-preview-description">In sit erroribus interpretaris, id populo scriptorem nam.
        Ex has sale copiosae. Sit ea noster commune. Congue adversarium nam cu. Accumsan dissentias
        duo ut, assum quaerendum ea duo. Pro et elitr deseruisse temporibus, est te pertinax intellegam dissentiunt,
        te paulo placerat cotidieque sea. An sit dico stet omnesque, libris integre hendrerit id sit.</p>
    </div>
    </a>
  </section>

  <section class="lesson-preview-section">
    <div class="lesson-preview-container">
    <a class="lesson-preview-link" href="http://www.google.com">
      <div class="lesson-preview-title-container">
        <h3 class="lesson-preview-title">Example of Lesson Title</h3>
        <ul>
            <li class="lesson-preview-subject-list">Social Studies</li>
            <li class="lesson-preview-pipe">|</li>
            <li class="lesson-preview-grade-list">1st Grade</li>
      </ul>
      </div>

      <div class="lesson-preview-description-container">
        <h6 class="icon-star"> </h6>
        <p class="lesson-preview-description">In sit erroribus interpretaris, id populo scriptorem nam.
          Ex has sale copiosae. Sit ea noster commune. Congue adversarium nam cu. Accumsan dissentias
          duo ut, assum quaerendum ea duo. Pro et elitr deseruisse temporibus, est te pertinax intellegam dissentiunt,
          te paulo placerat cotidieque sea. An sit dico stet omnesque, libris integre hendrerit id sit.</p>
      </div>
    </div>
    </a>
  </section>


<!-- SAVE BUTTON -->
  <div class="save-button-wrapper">
    <button class="save-button" type="button">Save</button>
  </div>


<!-- EDIT BUTTON -->
  <div class="edit-button-wrapper">
    <button class="edit-button" type="button">Edit</button>
  </div>


<!-- EDIT and SAVE BUTTONS SIDE BY SIDE -->
  <div class="edit-save-buttons-wrapper">
    <button class="edit-button" type="button">Edit</button>
    <button class="save-button" type="button">Save</button>
  </div>

<!-- SAVE and DELETE BUTTONS SIDE BY SIDE -->
    <div class="delete-save-buttons-wrapper">
      <button class="save-button" type="button">Save</button>
      <button class="delete-button" type="button">Delete</button>
    </div>

<!-- PROFILE PAGE, LESSONS & PLANS -->
    <ul class="accordion-tabs">
      <li class="my-plans-tab-header">
        <a href="javascript:void(0)" class="is-active tab-link">My Plans</a>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </li>
      <li class="starred-plans-tab-header">
        <a href="javascript:void(0)" class="tab-link">Starred Plans</a>
        <div class="tab-content">
          <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
        </div>
      </li>
      <li class="my-lessons-tab-header">
        <a href="javascript:void(0)" class="tab-link">My Lessons</a>
        <div class="tab-content">
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
        </div>
      </li>
      <li class="starred-lessons-tab-header">
        <a href="javascript:void(0)" class="tab-link">Starred Lessons</a>
        <div class="tab-content">
          <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
        </div>
      </li>
    </ul>

<!-- SHOWING PLANS/LESSONS  -->
<section class="lesson-container">

  <div class="lesson-title-container">
    <h3 class="lesson-title">Example of Lesson Title</h3>
    <ul>
        <li class="lesson-subject-list">Social Studies</li>
        <li class="lesson-pipe">|</li>
        <li class="lesson-grade-list">1st Grade</li>
  </ul>
  </div>

  <div class="lesson-description-container">
    <ul class="star-ranking">
    <li class="icon-star"></li>
    <li class="ranking">12</li>
    </ul>
    <p class="lesson-description">In sit erroribus interpretaris, id populo scriptorem nam.
      Ex has sale copiosae. Sit ea noster commune. Congue adversarium nam cu. Accumsan dissentias
      duo ut, assum quaerendum ea duo. Pro et elitr deseruisse temporibus, est te pertinax intellegam dissentiunt,
      te paulo placerat cotidieque sea. An sit dico stet omnesque, libris integre hendrerit id sit.</p>
  </div>
  </a>
</section>


<!-- MY PROFILE PAGE / PROFILE SECTION -->
<section class="profile-wrapper">

  <div class="user-profile-photo-wrapper">
    <img src="http://www.john-michael.net/wp-content/uploads/2011/11/Teddy-Roosevelt.jpg">
  </div>

  <div class="user-profile-information-wrapper-right">
    <ul class = "user-profile-unique-information">
      <li><strong>Name:</strong>&nbsp&nbspTheodore Roosevelt</li>
      <li><strong>Grades I Teach:</strong>&nbsp&nbspKindergarten</li>
      <li><strong>My School Name:</strong>&nbsp&nbspTheodore Roosevelt Regional Awesomeness Elementary School</li>
      <li><strong>School City:</strong>&nbsp&nbspWalla Walla</li>
      <li><strong>School State:</strong>&nbsp&nbspWashington</li>
    </ul>
  </div>
  <hr/>
</section>


<!-- FOOTER-->
  <footer>
      <div class="footer">
        <h1 class="footer-head"><a href="/">LessonTree</a></h1>
        <ul class="footer-subheads">
          <li class="about-footer"><a href="/home/about">About</a></li>
          <li class="signup-footer"><a href="/users">Sign Up</a></li>
          <li class="terms-footer"><a href="#">Terms &#38; Conditions</a></li>
        </ul>
        <div class="footer-ruler">
      </div>
        <ul class="social-icons">
          <a href="http://www.twitter.com"><li class="icon-twitter-circled"></li></a>
          <a href="http://www.facebook.com"><li class="icon-facebook-circled"></li></a>
          <a href="http://www.pinterest.com"><li class="icon-pinterest-circled"></li></a>
        </ul>
      </div>
    </footer>
