<!-- LOGGED OUT NAVIGATION-->
<nav class="nav-login-bar">
  <div class="nav-logo">
    <ul>
      <li class="logo"><a href= "/" >LessonTree</a></li>
    </ul>
  </div>
  <div class="nav-list">
    <ul>
      <li class="nav-about"><a href="/home/about">About Us</a></li>
      <li class="nav-signup"><a href="/users/sign_up">Sign Up</a></li>
      <li class="nav-login"><a href="/users/sign_in">Log In</a></li>
    </ul>
  <div>
</nav>


<!-- LOGGED IN NAVIGATION-->
<nav class="nav-logout-bar">
  <div class="nav-logo">
    <ul>
      <li class="logo"><a href= "/" >LessonTree</a></li>
    </ul>
  </div>
  <div class="nav-list">
    <ul>
      <li class="nav-myProfile"><a href=" ">My Profile</a></li>
      <li class="nav-logout"><a href=" ">Log Out</a></li>
    </ul>
  <div>
</nav>


    <!-- SEARCH BOX -->

  <div class="search-box-wrapper">
    <form class="inline-search-form">
      <input id="inline-search-field" type="text" placeholder="Find Plans" required>
      <input class="inline-search-button" type="button" value="Search">
    </form>
  </div>


  <!-- HOMEPAGE LESSON PREVIEWS-->
  <section class="lesson-preview-container">
    <div class="lesson-preview-title-container">
      <h3 class
    </div>

  </section>


<!-- SAVE BUTTON -->
  <div class="save-button-wrapper">
    <button class="save-button" type="button">Save</button>
  </div>


  <!-- EDIT BUTTON -->
  <div class="edit-button-wrapper">
    <button class="edit-button" type="button">Edit</button>
  </div>


  <!-- EDIT and SAVE BUTTONS SIDE BY SIDE -->
  <div class="edit-save-buttons-wrapper">
    <button class="edit-button" type="button">Edit</button>
    <button class="save-button" type="button">Save</button>
  </div>


  <!-- FOOTER-->
  <footer>
      <div class="footer">
        <h1 class="footer-head"><a href="/">LessonTree</a></h1>
        <ul class="footer-subheads">
          <li class="about-footer"><a href="/home/about">About</a></li>
          <li class="signup-footer"><a href="/users">Sign Up</a></li>
          <li class="terms-footer"><a href="#">Terms &#38; Conditions</a></li>
        </ul>
        <div class="footer-ruler">
      </div>
        <ul class="social-icons">
          <a href="http://www.twitter.com"><li class="icon-twitter-circled"></li></a>
          <a href="http://www.facebook.com"><li class="icon-facebook-circled"></li></a>
          <a href="http://www.pinterest.com"><li class="icon-pinterest-circled"></li></a>
        </ul>
      </div>
    </footer>
