
<section class="document-page-top-toolbar-container">
  <div class="document-page-top-toolbar">
    <ul class="document-page-top-toolbar-list">
      <li class="document-page-top-toolbar-edit" id="doc-title-toolbar"><%= @document.title %></li>
      <a href="www.google.com">
        <li class="document-page-top-toolbar-edit"><i class="fa fa-pencil-square-o"></i><span class="document-page-edit">Edit</span></li>
      </a>
      <a href="www.google.com">
        <li class="document-page-top-toolbar-history"><i class="fa fa-history"></i><span class="document-page-history">History</span></li>
      </a>
      <a href="www.google.com">
        <li class="document-page-top-toolbar-delete"><i class="fa fa-trash-o"></i><span class="document-page-delete">Delete</span></li>
      </a>
    </ul>

  </div>
</section>
<% if @document.content.nil? %>
  <iframe src=<%= @document.upload.url %> class="doc-show-iframe"></iframe>
<% else %>

  <div class="document-preview">

    <div class="document-viewer">
      <%= @document.content.html_safe %>
    </div>

  </div>

<% end %>
