
<div class="create-lesson-page-headline">Create Lesson</div>
<div class="create-lesson-page-headline-rule-container">
  <div class="create-lesson-page-headline-rule-first"></div>
  <div class="create-lesson-page-headline-triangle"></div>
</div>

<!-- <div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden">Choose a grade level</a>
  <div id="js-expander-content" class="expander-content">

    <div class="grades-select-menu-container">
      <select class="select-menu" name="Grade">
        <option class="select-menu-values" value="art">Grade</option>
        <option value="Kindergarten">Kindergarten</option>
        <option value="1st">1st</option>
        <option value="2nd">2nd</option>
        <option value="3rd">3rd</option>
        <option value="4th">4th</option>
        <option value="5th">5th</option>
        <option value="6th">6th</option>
        <option value="7th">7th</option>
        <option value="8th">8th</option>
      </select>
    </div>

  </div>
</div> -->

<%= render "form" %>
