
<div class="create-lesson-page-headline">Create Lesson</div>
<div class="create-lesson-page-headline-rule-container">
  <div class="create-lesson-page-headline-rule-first"></div>
  <div class="create-lesson-page-headline-triangle"></div>
</div>

<%= render "form" %>
