<section class="lesson-preview-container">

  <div class="lesson-preview-title-container">
    <h3 class="lesson-preview-title"><%= @lesson.topic %></h3>
    <div class="lesson-preview-description"><%= @lesson.description.html_safe %></div>
  </div>


</section>
