/************
  FONTS
************/
$headline-font: 'Hind', sans-serif;
$maintext-font: 'Merriweather', serif;
$cursive-font: 'Dancing Script', cursive;


/************
  COLOR
************/
//light green
$top-bg-color: #b6ded4;

//deeper green in case we need it
$alt-top-bg-color: #65a397;

//faded red color
$button-bg-color: #d95353;

//light gray color
$text-button-color: #e8e3e6;
$header-texts-color: #e8e3e6;

//dark gray color
$logo-color: #bab4b3;

//navy color
$dark-header-color: #2e2e40;

//text-shadow for <h1>
$alt-gray-color: #a6a6b0;

/************************************
        NAVIGATION BAR
************************************/
nav {
  width: 100%;
  margin: 0 0 4em;
  padding-top: 3em;
}

nav a {
  padding: 1em .8em;
  background: #d95353;
  margin: 0 .5em;
  border-radius: .25em;
  text-decoration: none;
  font-family: Arial;
  font-size: 1em;
  color: #fff;
}

.nav-wrapper {
  padding-bottom: 1em;
}

.logo-wrapper {
  display: inline-block;
  float: left;
  margin-bottom: 1.5em;
}

.list-wrapper {
  display: inline-block;
  float: right;
}

.nav-logo {
  margin-left: 1em;
}

.logo h1 {
  font-size: 3em;
  color: #2e2e40;
}

.logo h1:hover {
  cursor: pointer;
  color: #d95353;
  transition: .6s;
}

.nav-list {
  list-style: none;
  margin: 1em;
  text-align: center;
  padding: 0;
  margin-right: 2em;
}

.nav-about,
.nav-signup,
.nav-login {
  display: inline;
  text-transform: uppercase;
}

.nav-wrapper li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .6s background-color;
}

nav a:hover {
  background: #2e2e40;
  -webkit-transition: .6s;
  transition: .6s;
}

.nav-ruler {
  border: 0;
  height: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

/************************************
  NAVIGATION MEDIA QUERY
************************************/

@media screen and (max-width: 700px) {
  nav {
    padding-bottom: 2em;
    width: 100%;
    margin: 0 auto 0;
  }

  .logo-wrapper {
    display: block;
    text-align: center;
    float: none;
  }

  .list-wrapper {
    display: block;
    margin: 0 auto;
    float: none;
  }

  .nav-list {
  list-style: none;
    text-align: center;
    padding: 0;
    margin: .7em 0 0 0;
    background: #d95353;
  }

  .nav-wrapper li {
    display: block;
    border-bottom: 1px solid #fff;
    padding: .5em;
  }

  nav a {
  display: block;
  padding: .75em .5em;
  text-decoration: none;
  font-family: Arial;
  font-size: 1em;
  color: #fff;
  background: none;
}

nav li:hover {
  background: #2e2e40;
  transition: .4s;
}

nav a:hover {
  background: none;
  transition: none;
}

.nav-ruler {
  border: 0;
  height: 0;
}

.logo:hover {
  background: none;
}
}






/************************************
    CENTERED SEARCH BOX
************************************/
.search-box-wrapper {
  display: block;
  text-align: center;
  margin: 4em 0 4em;
}

.inline-search-form {
    margin: 0 auto;
}

#inline-search-field {
  display: inline-block;
  font-size: 1em;
  font-family: $headline-font;
  width: 15em;
  /* height: 2em; */
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
  border-inset: none;
  background: #eee;
  border: none;
  color: #444;
}

.inline-search-button {
  display: inline-block;
  font-size: .75em;
  font-weight: bolder;
  font-family: $headline-font;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: #65a397;
  color: #fff;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  padding: 1em 1.2em .85em;
  position: relative;
  left: -5px;
}

.inline-search-button:hover {
  background: #6fbaab;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #inline-search-field {
    display: block;
    margin: 0 auto 0;
    text-align: center;
    border-radius: .25em;
    margin-bottom: .25em;
}

.inline-search-button {
  display: block;
  margin: 0 auto 0;
  text-align: center;
  border-radius: .25em;
  left: 0;
  width: 20em;
  }
}

/************************************
         SEARCH BOX
************************************/

.search-box-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.search-form {
    width: 40%;
    margin: 0 auto;
}

.search-field {
  font-size: 1em;
  width: 15em;
  height: 2em;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
  border-inset: none;
  background: #eee;
  border: none;
  padding: .5em .5em .6em .5em;
  color: #444;
}

.search-button {
  font-size: .75em;
  font-weight: bolder;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: #65a397;
  color: #fff;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  padding: 1.5em;
  position: relative;
  left: -5px;
}

.search-button:hover {
  background: #6fbaab;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

/**********************************************
SAVE & EDIT BUTTON SIDE BY SIDE
**********************************************/
.edit-save-buttons-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.edit-save-buttons-wrapper button {
  margin: 0 .5em 0;
}

/************************************
            SAVE BUTTON
************************************/
.save-button-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.save-button {
  font-size: .75em;
  font-weight: bolder;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: #65a397;
  color: #fff;
  border-radius: .25em;
  padding: 1.5em;
}

.save-button:hover {
  background: #6fbaab;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

/************************************
            EDIT BUTTON
************************************/
.edit-button-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.edit-button {
  font-size: .75em;
  font-weight: bolder;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: #d95353;
  color: #fff;
  border-radius: .25em;
  padding: 1.5em;
}

.edit-button:hover {
  background: #ff6363;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

/************************************
            SIGNUP FORM
************************************/
.signup-container h2 {
  font-family: $headline-font;
  font-size: 1.25em;
  text-shadow: none;
  color: $button-bg-color;
}

li {
  list-style-type: none;
}

.signup-container {
 width: 60%;
 margin: 0 auto 1em;
 padding: 2em;
 border-radius: .25em;
 font-family: Arial;
}

.signup-container label, .weird {
  text-align: center;
  display: block;
  color: $dark-header-color;
}

.signup-form-header h2 {
  color: $dark-header-color;
  font-size: 2em;
  font-family: $headline-font;
  margin: 0 0 24px 0;
  text-shadow: none;
  text-align: center;
  padding: 1em;
  border-bottom: 1px dashed #ccc;
}

.signup-form-error {
  color: $button-bg-color;
  font-size: 1em;
  font-family: $maintext-font;
  margin: 0 0 24px 0;
  text-shadow: none;
  text-align: center;
  margin-top: 1em;
}

/*BUTTON DESIGN*/
.signup-button {
  border: none;
  border-radius: .25em;
  color: #fff;
  font: -webkit-small-control;
  letter-spacing: 1.2px;
  line-height: 140%;
  padding: 12px 22px;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
        transition: all 0.1s linear;
}

.signup-button-container {
  text-align: center;
  margin: 0 auto 0;
}

.signup-button {
  background-color: #65a397;
  border-radius: .25em;
  color: white;
  font-family: $headline-font;
  font-size: .8em;
  font-weight: bolder;
  text-shadow: none;
  border: none;
}

.signup-button:hover {
    background-color:  #6fbaab;
    color: white;
    cursor: pointer;
    text-shadow: none;
    border: none;
  }

/*SECTION CONTAINER*/

/*FORM*/
.signup-form {
  display: block;
  margin: 0 auto;
  font-family: $headline-font;
}

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="password"],
  textarea {

    background: white;
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-family: $headline-font;
    font-size: 14px;
    margin: 6px auto 12px;
    padding: 8px;
    text-shadow: 0 1px 1px white;
    width: 70%;

    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
  }

    input[type="text"]:invalid:focus,
    input[type="email"]:invalid:focus,
    input[type="number"]:invalid:focus,
    input[type="search"]:invalid:focus,
    input[type="password"]:invalid:focus,
    textarea:invalid:focus,
    select:invalid:focus {
      border-color: rgb(248,66,66);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
    }

    /************************************
                LOGIN FORM
    ************************************/

    .login-container {
     width: 60%;
     margin: 3em auto 1em;
     padding: 2em;
     border-radius: .25em;
    }


    .login-form-header {
      color: $button-bg-color;
      font-size: 2em;
      font-family: Arial;
      margin: 0 0 24px 0;
      text-shadow: none;
      text-align: center;
      font-size: 2em;
    }

    /*BUTTON DESIGN*/
    .login-button {
      border: none;
      border-bottom: 2px solid rgba(0,0,0,.15);
      border-top: 1px solid rgba(255,255,255,.15);
      border-radius: 3px;
      color: #fff;
      font: -webkit-small-control;
      font-size: .7em;
      letter-spacing: 1px;
      line-height: 140%;
      padding: 10px 20px;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      text-transform: uppercase;

      -webkit-transition: all 0.1s linear;
         -moz-transition: all 0.1s linear;
           -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
    }

    .login-button {
      background-color: $button-bg-color;
      border-radius: .25em;
      color: white;
      font-family: $headline-font;
      font-size:1em;
      text-shadow: none;
      border: none;
      margin-top: 1em;
    }

      .login-button:hover {
        background-color:  #d96354;
        color: white;
        cursor: pointer;
        text-shadow: none;
        border: none;
      }


    /*SECTION CONTAINER*/


    /*FORM*/
    form.minimal label {
      display: block;
      margin: 6px 0;
      font-family: $headline-font;
    }

      form.minimal input[type="text"],
      form.minimal input[type="email"],
      form.minimal input[type="number"],
      form.minimal input[type="search"],
      form.minimal input[type="password"],
      form.minimal textarea {

        background: white;
        border: 1px solid rgb( 186, 186, 186 );
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
        display: block;
        font-family: $headline-font;
        font-size: 14px;
        margin: 6px 0 12px 0;
        padding: 8px;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
        width: 90%;

        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
      }

      form.minimal input[type="text"]:focus,
      form.minimal input[type="email"]:focus,
      form.minimal input[type="number"]:focus,
      form.minimal input[type="search"]:focus,
      form.minimal input[type="password"]:focus,
      form.minimal textarea:focus,
      form.minimal select:focus {

      }

        form.minimal input[type="text"]:invalid:focus,
        form.minimal input[type="email"]:invalid:focus,
        form.minimal input[type="number"]:invalid:focus,
        form.minimal input[type="search"]:invalid:focus,
        form.minimal input[type="password"]:invalid:focus,
        form.minimal textarea:invalid:focus,
        form.minimal select:invalid:focus {
          border-color: rgb(248,66,66);
          -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
          -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
        }



/*****************
    FOOTER
****************/

footer {
  background: #2e2e40;
  max-height: 40em;
  margin-top: 4em;
  padding: 1em;
}

.footer-head {
  text-align: center;
  font-size: 4em;
  font-family: $cursive-font;
  margin: 1em 0 1em;
  color: #fff;
  padding: 0;
  font-weight: 400;
  text-shadow: none;
}

.footer-social-icons {
  text-align: center;
  font-size: 4em;
  font-family: $cursive-font;
  margin: -1em 0 1em;
  color: #fff;
}

.footer ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 0 2em 0;
}

.footer li {
  display: inline;
}

.about-footer,
.signup-footer,
.terms-footer {
  font-family: $headline-font;
  font-size: 1em;
  padding: 0 2em 0 2em;
  letter-spacing: .05em;
}

.footer a {
  text-decoration: none;
  color: #fff;
  transition: .3s background-color;
}

.footer a:hover {
  color: #b6ded4;
  transition: .4s;
}

.footer-ruler {
  display: block;
  margin: 2em auto 2em;
  width: 40%;
  border-bottom: 1px dashed #aaa;
}

.footer-ruler hr {
  border: 0;
  height: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  width: 50%;
}

.social-icons {
  font-size: 2em;
  color: #fff;
}

.icon-twitter-circled,
.icon-facebook-circled,
.icon-pinterest-circled {
  margin: 1em .5em .5em .5em;
}

.icon-twitter-circled:hover,
.icon-facebook-circled:hover,
.icon-pinterest-circled:hover{
  color: #b6ded4;
  transition: .4s;
  cursor: pointer;
}

/************************************
    FOOTER MEDIA QUERY
************************************/

@media screen and (max-width: 500px) {
  .footer-subheads li {
  display: block;
  margin: .5em 0 .5em;
  }
}
