.home-button {
  font-family: 'Hind', sans-serif;
  padding: 0.5em 1em;
  border-radius: 7.5px;
  background-color: #d95353;
  margin-left: 29em;
  font-size: 22px;
  color: #e8e3e6;
  display: inline;
  margin-top: 4em;
}

.home-button:active {
  background-color: #d95353;
  color: #e8e3e6;
}

.home-button:hover {
  background-color: white;
  color: #d95353;
}
