

.about-main-container {
  height: 1065px;
  // background-color: $top-bg-color;
  background-color: $alt-gray-color;
  color: white;
}

.about-shadow-box {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  text-align: center;
  border: 1px solid $alt-gray-color;

}

.type {
  background-color: $button-bg-color;
  font-size: 28px;
  margin-top: 2.6em;
}

.mission-statement {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 22px;
}


.about-explanation {
  font-family: 'Hind', sans-serif;
  text-align: left;
  font-size: 22px;
  width: 625px;
  margin-left: 10px;
}

.more-mission-statement {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.want-more {
  background-color: $button-bg-color;
  font-size: 28px;
  margin-top: 2.6em;
}

.ellipsis {
  letter-spacing: 0.2em;
  background-color: $button-bg-color;
  font-size: 28px;
  margin-top: 2.6em;
}

.mission-explanation {
  font-family: 'Hind', sans-serif;
  text-align: left;
  font-size: 22px;
  width: 625px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.more-mission {
  font-family: 'Hind', sans-serif;
  text-align: left;
  font-size: 22px;
  width: 625px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.just-a-little-more-mission {
  font-family: 'Hind', sans-serif;
  text-align: left;
  font-size: 22px;
  width: 625px;
  margin-left: 10px;
  margin-bottom: 25px;

}

.home-button {
  font-family: 'Hind', sans-serif;
  padding: .5em 2em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  margin-left: 11em;
  margin-top: 3em;
  font-size: 22px;
  color: $text-button-color;
  display: inline;
  margin-top: 4em;
}

.home-button:active {
  background-color: $button-bg-color;
  color: $text-button-color;
}

.home-button:hover {
  background-color: $top-bg-color;
  color:$button-bg-color;

}
