/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require fancybox_styles
 */
 @import "bourbon";
 @import "neat";
 @import "style_guide";
 @import "jquery.fancybox";
 @import "jquery.fancybox-buttons";
 @import "jquery.fancybox-thumbs";
 @import "diffy";
//  @import "fonts";
//  @import "colors";
//  @import "elisha_style_guide";
//  @import "home";
//  @import "lessons";
//  @import "users";
//  @import "about";
//  @import "login";
//  @import "signup";
//  @import "header";
//  @import "footer";
//  @import "aaron_style_guide";
//

.thread {
}
.comment {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  //////////////////////////////////////////////////////////////////////////////////

  $comment-gutter: 1.4em;
  $comment-image-padding: 0.7em;
  $comment-image-width: 4em;
  $comment-color: $base-font-color;
  $comment-background: lighten($base-accent-color, 15%);
  $comment-detail-color: transparentize($comment-color, 0.5);
  $comment-image-vert-alignment: top;

  border: 1px solid transparentize($comment-color, 0.9);
  display: table;
  margin-bottom: $base-spacing;
  padding: 10em;
  width: 100%;

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
    font-family: $maintext-font;
  }

  .comment-image {
    padding-right: $comment-gutter;

    > img {
      // background: $comment-background;
      border-radius: 50%;
      display: block;
      height: auto;
      max-width: none;
      // padding: $comment-image-padding;
      width: $comment-image-width;
    }

    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .comment-content {
    width: 100%;

    a {
      font-family: $headline-font;
      font-size: 1em;
      margin: 0 0 0.5em 0;
      text-align: none;
      font-weight: bold;
      color: $alt-top-bg-color;
      text-decoration: none;
    }

    span {
      // font-family: $maintext-font;
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    p.comment-detail {
      color: $comment-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}

#paginator {
  color: $button-bg-hover;
  font-family: $headline-font;
  text-align: right;
  position: relative;
  right: 30px;
  a {
  text-decoration: none;
  font-family: $headline-font;
  color: $alt-top-bg-hover;
  }
}

#paginator-nested {
  color: $button-bg-hover;
  font-family: $headline-font;
  text-align: center;
  position: relative;
  a {
  text-decoration: none;
  font-family: $headline-font;
  color: $alt-top-bg-hover;
  }
}
//
// .checkbox-wrapper {
//   color: $alt-top-bg-hover;
//   font-family: $headline-font;
//   text-align: center;
//   padding: 0, 500px, 0, 500px;
//   .checkbox-header {
//     font-size: 1.5em;
//     color: $logo-color;
//   }
//   .checkbox-list {
//     padding-left: 38em;
//     padding-right: 38em;
//     display: inline-block;
//   }
// }

.star-this-lesson {
  position: relative;
  top: -20px;
  left: 150px;
}

.quick-show-iframe {
  width: 800px;
  height: 800px;
  display: block;
  overflow: hidden;
}

.quick-created-documents {
}

.quick-content {
  border: 1px solid black;
  padding: 100px;
}

.star-box {
  color: yellow;
  font-size: 1.5em;
  display: inline;
}

.document-preview {
  border: 1px solid black;
  padding: 80px;
}

.document-meta-data {

}

.my-profile-footer {
  padding-right: 100px;
}

.doc-show-iframe {
  width: 100%;
  height: 600px;
}

.doc-link {
  
}
