
//light green
$top-bg-color: #b6ded4;

$alt-top-bg-color: #65a397;

//faded red color
$button-bg-color: #d95353;

//whitish color
$text-button-color: #e8e3e6;

$header-texts-color: #e8e3e6;
$dark-header-color: #2e2e40;

$alt-gray-color: #a6a6b0;
