@import url(http://fonts.googleapis.com/css?family=Merriweather|Hind:400,600|Dancing+Script);
@import "colors";
@import "fonts";

//header & nav//
.all-the-btns {
  text-align: right;
  margin-right: 22px;
}

a {
  text-decoration: none;
  outline: none;
  color: $logo-color;
  // display: inline;
}

.nav-logo-btn {
  font-family: $cursive-font, cursive;
  font-size: 3.7em;
  font-weight: bold;
  color: $logo-color;
  display: inline;
  text-decoration: none;
  margin: 45px;
  padding: 0px;
  list-style: none;
  display: inline;

}

.nav-link-about-btn {
  text-align: right;
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;
}

.nav-link-about-btn:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.nav-link-about-btn:hover {
  background-color: $top-bg-color;
  color: $button-bg-color;
}

.nav-link-login-btn {
  text-align: right;
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;

}

.nav-link-login-btn:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.nav-link-login-btn:hover {
  background-color: $top-bg-color;
  color: $button-bg-color;
}

.nav-link-signup-btn {
  text-align: right;
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;
}

.nav-link-signup-btn:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.nav-link-signup-btn:hover {
  background-color: $top-bg-color;
  color: $button-bg-color;
}




//hero, hm pg//
.main-container-hero {
  background-color: $top-bg-color;
  color: white;
  margin-left: 0px;
  height: 565px;
  margin-top: 2.5em;
  margin-bottom: -1em;

}

h1 {
  font-family: $headline-font;
  font-size: 5.3em;
  text-align: center;
  text-shadow: -1px -1px $alt-gray-color;
  line-height: 1.4em;
  margin-bottom: -2.7em;
  padding-top: 1.7em;

}

.key-words {
  font-family: $headline-font, sans-serif;
  text-align: center;
  font-size: 45px;
  margin-top: 1.1em;
  margin-bottom: -1.7em;
}

.third-line {
  font-family: $cursive-font, cursive;
  text-align: center;
  font-size: 45px;
  margin-top: 0.5em;
  text-shadow: -1px -1px $alt-gray-color;
  margin-bottom: -1.7em;

}
