
.footer {
  background: $dark-header-color;
  max-height: 35em;
  margin-top: 4em;
  padding: 1em;
}

.footer-head {
  font-family: $cursive-font, cursive;
  font-size: 3.7em;
  font-weight: bold;
  color: $logo-color;
  display: inline;
  text-decoration: none;
  padding: 0px;
  list-style: none;
  display: inline;
  text-align: center;
}


.footer-social-icons {
  text-align: center;
  font-size: 3em;
  margin: 1em 0 1em;
  color: #fff;
}

.footer ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 0 2em 0;
}

.about-footer,
.signup-footer,
.terms-footer {
  font-family: Arial;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  padding: 0 2em 0 2em;
}

.footer a {
  text-decoration: none;
  color: #fff;
  transition: .3s background-color;
}

.footer a:hover {
  color: #b6ded4;
  transition: .4s;
}

.footer hr {
  border: 0;
  height: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  width: 50%;
}

.social-icons {
  font-size: 2em;
  color: #fff;
}

.icon-twitter-circled,
.icon-facebook-circled,
.icon-pinterest-circled {
  margin: 1em .5em .5em .5em;
}

.icon-twitter-circled:hover,
.icon-facebook-circled:hover,
.icon-pinterest-circled:hover{
  color: #b6ded4;
  transition: .4s;
  cursor: pointer;
}

/************************************
    FOOTER MEDIA QUERY
************************************/

@media screen and (min-width: 650px) {
  .footer-head li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    display: inline-block;
    margin-right: -4px;
  }

  .footer h3, h4, h5, h6 {
    font-family: Arial;
    color: #fff;
  }
}
