.footer {
  margin-top: 4em;
  padding: 1em 1.618em;
  ///////////////////////////////////////////////////////////////////////////////////
  @import url(http://fonts.googleapis.com/css?family=Merriweather|Hind:400,600|Dancing+Script);
  @import "colors";
  @import "fonts";

  $base-spacing: 1.5em !default;
  $base-accent-color: $dark-header-color !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $headline-font;
    color: #fff;
  }

  .footer-logo h2 {
    font-family: $cursive-font;
    font-size: 3.7em;
    font-weight: bold;
    color: $header-texts-color;
    margin: 0 0 1em;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: $base-accent-color;
  $footer-color: $header-texts-color;
  $footer-link-color: white;
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer li a {
    font-family: $headline-font;
    font-size: 1em;
  }

  .footer-logo {
    margin-bottom: 3em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: 1em;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;
    font-family: $headline-font;
    font-size: 1.1em;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px dashed transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 60%;
  }

  .footer-social {
    display: block;
    margin: 0, auto;
    height: 2em;
  }

  .footer-social ul {
    display: block;
    text-align: center;
    vertical-align: baseline;
  }

  .footer-social li {
    display: inline;
    text-align: center;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
