@import url(http://fonts.googleapis.com/css?family=Merriweather|Hind:400,600|Dancing+Script);
@import "colors";
@import "fonts";

// this commented out code is no longer overriding
//e_s_guide, like it was (bc the commenting out
//is wrkn)

.logo {
  font-family: $cursive-font, cursive;
  font-size: 3.7em;
  font-weight: bold;
  color: $logo-color;
  display: inline;
  text-decoration: none;
  margin: 40px;
  padding: 22px;
  list-style: none;
  display: inline;
  text-decoration: none;
}


.buttons {
  text-align: right;
  margin-right: 22px;
}

.about-button {
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;
}

.about-button:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.about-button:hover {
  background-color: $top-bg-color;
  color: $button-bg-color;
}

.log-in-button {
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;

}

.log-in-button:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.log-in-button:hover {
  background-color: $top-bg-color;
  color: $button-bg-color;
}

.sign-up-button {
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;
}

.sign-up-button:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.sign-up-button:hover {
  background-color: $top-bg-color;
  color: $button-bg-color;
}

.go-to-profile {
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  margin-right: .95em;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;
}

.go-to-profile:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.go-to-profile:hover {
  background-color: $top-bg-color;
  color: $button-bg-color;
}
