// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "fonts";


.main-container {
  height: 565px;
  background-color: $top-bg-color;
  color: white;
  margin-top: 2.5em;
}

.logo {
  font-family: $cursive-font, cursive;
  font-size: 3.7em;
  font-weight: bold;
  // margin-left: 20px;
  // margin-top: 12px;
  // margin-bottom: 12px;
  color: $text-button-color;
  background-color: white;
}

.buttons {
  text-align: right;
}

.about-button {
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;
  // margin-top: 4em;
}

.about-button:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.about-button:hover {
  background-color: white;
  color: $button-bg-color;
}

.log-in-button {
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;
  // margin-top: 4em;

}

.log-in-button:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.log-in-button:hover {
  background-color: white;
  color: $button-bg-color;
}

.sign-up-button {
  font-family: $headline-font, sans-serif;
  padding: 0.75em 1.75em;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  margin-right: .95em;
  font-size: 22px;
  color: $header-texts-color;
  display: inline;
  // margin-top: 4em;
}

.sign-up-button:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.sign-up-button:hover {
  background-color: white;
  color: $button-bg-color;
}

h1 {
  font-family: $headline-font;
  font-size: 5.3em;
  text-align: center;
  text-shadow: -1px -1px $alt-gray-color;
  line-height: 1.4em;
  margin-bottom: -1.1em;
}

.key-words {
  font-family: $headline-font, sans-serif;
  text-align: center;
  font-size: 45px;
  margin-top: 1.1em;
}

h2 {
  font-family: $cursive-font, cursive;
  text-align: center;
  font-size: 45px;
  margin-top: 1.5em;
  text-shadow: -1px -1px $alt-gray-color;
}

.search-container {
  height: 279px;
  background-color: $dark-header-color;
  color: white;
}

form {
  width: 500px;
  margin: 0 auto;
}

.search {
  padding: 0.75em 1.75em;
  position: absolute;
  left: 38%;
  border-radius: 7.5px;
  background-color: $button-bg-color;
  font-size: 22px;
  color: white;
  margin-top: 4.75em;
}

.search:active {
  background-color: $button-bg-color;
  color: $header-texts-color;
}

.search:hover {
  background-color: white;
  color: $button-bg-color;
}

.card-container {
  height: 765px;
  background-color: $button-bg-color;
  color: white;
  margin-bottom: 4.75em;
}

.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 7.5px !default;
  $base-background-color: white !default;
  $base-spacing: 3.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  //////////////////////////////////////////////////////////////////////////////////

  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  // $card-background: lighten($card-border-color, 10%);
  // $card-background: lighten($top-bg-color);
  $card-background: #b6ded4;

  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 10%);
  $card-image-background: $dark-header-color;
  $card-image-hover-background: lighten($card-image-background, 10%);
  $card-margin: 1.75em;



  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: $base-spacing $card-margin $base-spacing $card-margin;
  position: relative;
  position: relative;

  .card-image {
    overflow: hidden;
    max-height: 150px;

    h3 {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      font-size: 1.7em;
      padding: 0.25em;
      opacity: 0.8;
      font-family: $maintext-font, serif;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 22px;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    font-family: $maintext-font, serif;

  }

  .card-copy {
    font-size: 22px;
    line-height: 1.4em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    font-family: $maintext-font, serif;

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    background-color: $card-hover-background;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
