
.signup-container h2 {
  font-family: $headline-font;
  font-size: 1.25em;
  text-shadow: none;
  color: $button-bg-color;
}

li {
  list-style-type: none;
}

.signup-container {
 width: 60%;
 margin: 0 auto 1em;
 padding: 2em;
 border-radius: .25em;
 font-family: Arial;
}

.signup-container label, .weird {
  text-align: center;
  display: block;
  color: $dark-header-color;
}

.signup-form-header h2 {
  color: $dark-header-color;
  font-size: 2em;
  font-family: $headline-font;
  margin: 0 0 24px 0;
  text-shadow: none;
  text-align: center;
  padding: 1em;
  border-bottom: 1px dashed #ccc;
}

.signup-form-error {
  color: $button-bg-color;
  font-size: 1em;
  font-family: $maintext-font;
  margin: 0 0 24px 0;
  text-shadow: none;
  text-align: center;
  margin-top: 1em;
}


/*BUTTON DESIGN*/
.signup-button {
  border: none;
  border-radius: .25em;
  color: #fff;
  font: -webkit-small-control;
  letter-spacing: 1.2px;
  line-height: 140%;
  padding: 12px 22px;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
        transition: all 0.1s linear;
}

.signup-button-container {
  text-align: center;
  margin: 0 auto 0;
}

.signup-button {
  background-color: #65a397;
  border-radius: .25em;
  color: white;
  font-family: $headline-font;
  font-size: .8em;
  font-weight: bolder;
  text-shadow: none;
  border: none;
}

.signup-button:hover {
    background-color:  #6fbaab;
    color: white;
    cursor: pointer;
    text-shadow: none;
    border: none;
  }


/*SECTION CONTAINER*/


/*FORM*/
.signup-form {
  display: block;
  margin: 0 auto;
  font-family: $headline-font;
}

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="password"],
  textarea {

    background: white;
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-family: $headline-font;
    font-size: 14px;
    margin: 6px auto 12px;
    padding: 8px;
    text-shadow: 0 1px 1px white;
    width: 70%;

    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {

  }

    input[type="text"]:invalid:focus,
    input[type="email"]:invalid:focus,
    input[type="number"]:invalid:focus,
    input[type="search"]:invalid:focus,
    input[type="password"]:invalid:focus,
    textarea:invalid:focus,
    select:invalid:focus {
      border-color: rgb(248,66,66);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
    }
