/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

$headline-font: 'Hind', sans-serif;
$maintext-font: 'Merriweather', serif;
$cursive-font: 'Dancing Script', cursive;


//light green
$top-bg-color: #b6ded4;

//deeper green in case we need it
$alt-top-bg-color: #65a397;

//faded red color
$button-bg-color: #d95353;

//light gray color
$text-button-color: #e8e3e6;
$header-texts-color: #e8e3e6;

//dark gray color
$logo-color: #bab4b3;


//navy color
$dark-header-color: #2e2e40;

//text-shadow for <h1>
$alt-gray-color: #a6a6b0;


//dark gray color
// $logo-color: #bab4b3;

.nav-login-bar {
  background-color: $dark-header-color;
  height: 6em;

}

.nav-logo{
  color: #fff;
  display: inline;
  float: left;
  font-size: 3em;
  font-family: $cursive-font;
  padding: .5em 0 0 1.7em;
}

.logo {
  display: inline;
}

.nav-list {
  display: inline;
  float: right;
  padding: 2.9em 2.5em 0 0;
}

.nav-about, .nav-signup, .nav-login {
  display: inline;
  font-family: $headline-font;
  font-size: 1.5em;
  padding-right: 1em;
  text-decoration: none;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}
