/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

$headline-font: 'Hind', sans-serif;
$maintext-font: 'Merriweather', serif;
$cursive-font: 'Dancing Script', cursive;


//light green
$top-bg-color: #b6ded4;

//deeper green in case we need it
$alt-top-bg-color: #65a397;

//faded red color
$button-bg-color: #d95353;

//light gray color
$text-button-color: #e8e3e6;
$header-texts-color: #e8e3e6;

//dark gray color
$logo-color: #bab4b3;

//navy color
$dark-header-color: #2e2e40;

//text-shadow for <h1>
$alt-gray-color: #a6a6b0;



/************************************
              NAV BAR
************************************/
.nav-login-bar, .nav-logout-bar {
  background-color: $dark-header-color;
  height: 4.3em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.nav-login-bar {
  margin-bottom: 2em;
}

.nav-logo {
  display: inline;
  float: left;
  font-size: 3em;
  font-family: $cursive-font;
  padding: 0.2em 0 0 1.7em;
}

.logo {
  display: inline;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.logo a:hover {
  color: $top-bg-color;
  transition: .4s;
}

.nav-list {
  display: inline;
  float: right;
  padding: 2.3em 5em 0 0;
}

.nav-about, .nav-signup, .nav-login, .nav-myProfile, .nav-edit-profile, .nav-logout {
  display: inline;
  font-family: $headline-font;
  font-size: 1em;
  padding-right: 3em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .01em;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}

.nav-list ul li a:hover {
  border-bottom: 2px solid $top-bg-color;
  color: $top-bg-color;
  border-color: $top-bg-color;
  transition: .3s;
}

/************************************
         NAV MEDIA QUERY
************************************/
/*
@media screen and (max-width: 750px) {
.nav-login-bar, .nav-logout-bar {
  padding-bottom: 2em;
  width: 100%;
  margin: 0 auto 0;
  background: #fff;
}
}

.logo {
  display: block;
  text-align: center;
  float: none;
  color: black;
}

.nav-list {
  display: block;
  margin: 0 auto;
  float: none;
}

.nav-list ul {
list-style: none;
  text-align: center;
  padding: 0;
  margin: .7em 0 0 0;
  background: #d95353;
}

.nav-list li {
  display: block;
  border-bottom: 1px solid #fff;
  padding: .5em;
}

.nav-login-bar a, .nav-logout-bar a {
  display: block;
  padding: .75em .5em;
  text-decoration: none;
  font-family: Arial;
  font-size: 1em;
  color: #fff;
  background: none;
}

.nav-login-bar li:hover, .nav-logout-bar li:hover {
  background: #2e2e40;
  transition: .4s;
}

.nav-login-bar a:hover, .nav-logout-bar a:hover,  {
  background: none;
  transition: none;
}
*/

/************************************
         HERO HOMEPAGE
************************************/
.main-container-hero {
  background-color: $top-bg-color;
  color: white;
  margin-left: 0px;
  padding-bottom: 6em;
}



h1 {
  font-family: $headline-font;
  font-size: 5.3em;
  text-align: center;
  text-shadow: -1px -1px $alt-gray-color;
  line-height: 1.2em;
  padding-top: .9em;
  letter-spacing: .02em
}

.key-words {
  font-family: $headline-font, sans-serif;
  text-align: center;
  text-shadow: -1px -1px $alt-gray-color;
  font-size: 45px;
}



/************************************
         HERO HOMEPAGE MEDIA QUERY
************************************/
/*
@media screen and (max-width: 750px) {
.main-container-hero {
  padding-bottom: 2em;
  width: 100%;
  margin: 0 auto 0;
  background-color: $top-bg-color;
  color: white;
  height: 535px;
}
}
*/

/************************************
    CENTERED SEARCH BOX
************************************/
.search-box-wrapper {
  display: block;
  text-align: center;
  margin-top: 4.2em;
}

.inline-search-form {
    margin: 0 auto;
}

#inline-search-field {
  display: inline-block;
  font-size: 1em;
  font-family: $headline-font;
  width: 18em;
  padding: .34em .4em .44em;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
  border-inset: none;
  border: 1px solid #ccc;
  color: black;
}

.inline-search-button {
  display: inline-block;
  font-size: .8em;
  font-weight: bolder;
  font-family: $headline-font;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: $alt-top-bg-color;
  color: #fff;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  padding: .75em 1em .75em;
  position: relative;
  left: -5px;
}

.inline-search-button:hover {
  background: #6fbaab;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

/************************************
  CENTERED SEARCH BOX
         MEDIA QUERY
************************************/
@media screen and (max-width: 550px) {
  #inline-search-field {
    display: block;
    margin: 0 auto 0;
    text-align: center;
    width: 15.1em;
    border-radius: .25em;
    margin-bottom: .25em;
}

.inline-search-button {
  display: block;
  margin: 0 auto 0;
  text-align: center;
  border-radius: .25em;
  left: 0;
  width: 18.8em;
}
}

/****************************************
HOMEPAGE LESSON PREVIEWS
****************************************/
.lesson-preview-link {
  text-decoration: none;
}

.lesson-preview-container {
  margin: 6em auto 3em;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.lesson-preview-title-container {
  margin-bottom: .5em;
  background: #eee;
  box-shadow: 0 2px 5px rgba(0,0,0,0.18);
  padding: .7em .7em .7em .9em;

}

.lesson-preview-title {
  font-size: 1.75em;
  font-family: $headline-font;
  font-weight: 400;
  color: #222;
  margin-bottom: .3em;
}

.lesson-preview-subject-container {
  padding: .5em .5em .5em 1em;
}

.lesson-preview-subject {
  font-size: 1.5em;
  font-family: $headline-font;
  font-weight: 400;
  color: #222;
  margin: .3em .3em .5em 2em;
}

.lesson-preview-subject-list {
  margin-right: .75em;
  font-size: 1.1em;
}

.lesson-preview-grade-list {
  padding-left: .75em;
  font-size: 1.1em;
}

.lesson-preview-description-container {
  padding: 1em;
}

.lesson-preview-subject-list, .lesson-preview-pipe, .lesson-preview-grade-list,  {
  display: inline;
  font-size: 1em;
  font-family: $headline-font;
  font-weight: 400;
  color: #222;
}

.lesson-preview-description {
  font-size: 1.1em;
  font-family: $headline-font;
  font-weight: 400;
  color: #222;
}

.star-ranking {
  vertical-align: text-baseline;
}

.icon-star {
  color: gold;
  font-size: 1.5em;
  display: inline;
}

.ranking {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
    font-family: 'Hind';
    font-size: 1.2em;
    margin-left: .25em;
    color: #555;
    letter-spacing: .1em;
}

.lesson-preview-description {
  line-height: 1.4em;
}

/************************************
            SAVE BUTTON
************************************/
.save-button-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.save-button {
  font-family: $headline-font;
  font-size: .8em;
  font-weight: bolder;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: $alt-top-bg-color;
  color: #fff;
  border-radius: .25em;
  padding: 1em 1.6em 1em;
}

.save-button:hover {
  background: #6fbaab;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

/************************************
            EDIT BUTTON
************************************/
.edit-button-wrapper, .delete-button-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.edit-button {
  padding: 1em 1.7em 1em;

}

.delete-button {
  padding: 1em .9em 1em;
}

.edit-button, .delete-button {
  font-family: $headline-font;
  font-size: .8em;
  font-weight: bolder;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: $button-bg-color;
  color: #fff;
  border-radius: .25em;
}

.edit-button:hover, .delete-button:hover {
  background: #ff6363;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

/************************************
            CREATE DOC BUTTON
************************************/
.create-button-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.create-button {
  font-family: $headline-font;
  font-size: .8em;
  font-weight: bolder;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: $button-bg-color;
  color: #fff;
  border-radius: .25em;
  padding: 1em 1.6em 1em;
}

.create-button:hover {
  background: #ff6363;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

/************************************
            UPLOAD BUTTON
************************************/
.upload-button-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.upload-button {
  padding: 1em 2.7em 1em;

}

.upload-button {
  font-family: $headline-font;
  font-size: .8em;
  font-weight: bolder;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: none;
  background: $alt-top-bg-color;
  color: #fff;
  border-radius: .25em;
}

.upload-button:hover {
  background: #6fbaab;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

/**********************************************
SAVE & EDIT BUTTON SIDE BY SIDE
**********************************************/
.edit-save-buttons-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.edit-save-buttons-wrapper button {
  margin: 0 .5em 0;
}

/**********************************************
CREATE & UPLOAD BUTTON SIDE BY SIDE
**********************************************/
.create-upload-buttons-wrapper {
  display: block;
  text-align: center;
  margin: 2em 0 2em;
}

.create-upload-buttons-wrapper button {
  margin: 0 .5em 0;
}

/************************************
    PROFILE PAGE, LESSONS & PLANS
************************************/
.accordion-tabs {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $dark-header-color: #2e2e40;
  //////////////////////////////////////////////////////////////////////////////////

  $tab-border: 1px solid $base-border-color;
  $tab-content-background: lighten($light-gray, 10);
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.4;
  margin-bottom: $base-spacing;
  padding: 0;

  @include media(max-width $tab-mode) {
    border-radius: $base-border-radius;
    border: $tab-border;
  }

  .tab-header-and-content {
    list-style: none;


    @include media($tab-mode) {
      display: inline;
    }

    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;

      @include media(max-width $tab-mode) {
        border-top: 0;
      }
    }

    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-header-color;
    display: block;
    font-weight: bold;
    padding: $base-spacing/2 $gutter/2;
    text-decoration: none;
    font-family: $headline-font;
    font-size: 1.5em;
    margin-left: 3.7em;
    .icon-star {
      color: gold;
      font-size: 1.5em;
      display: inline;
    }

    @include media($tab-mode) {
      @include inline-block;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: 0;
    }


    &:hover {
      color: $top-bg-color;
    }

    &:focus {
      outline: none;

    }

    &.is-active {
      background-color: $tab-active-background;


      @include media($tab-mode) {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    background: $tab-content-background ;
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;
    font-family: $headline-font;
    font-size: 1.1em;
    padding: 2em 13em 2em 13em;


    @include media($tab-mode) {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border: $tab-border;
      float: left;
    }
  }
}

/************************************
    SHOWING LESSONS/UNITS
************************************/
.lesson-container {
  margin: 6em auto 3em;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.lesson-title-container {
  margin-bottom: .5em;
  background: #eee;
  box-shadow: 0 2px 5px rgba(0,0,0,0.18);
  padding: .7em .7em .7em .9em;
}

.lesson-title {
  font-size: 1.75em;
  font-family: $headline-font;
  font-weight: 400;
  color: #222;
  margin-bottom: .3em;
}

.lesson-subject-container {
  padding: .5em .5em .5em 1em;
}

.lesson-subject {
  font-size: 1.5em;
  font-family: $headline-font;
  font-weight: 400;
  color: $dark-header-color;
  margin: .3em .3em .5em 2em;

}

.lesson-subject-list {
  margin-right: .75em;
  font-size: 1.1em;
}

.lesson-grade-list {
  padding-left: .75em;
  font-size: 1.1em;
}

.lesson-description-container {
  padding: 1em;
}

.lesson-subject-list, .lesson-pipe, .lesson-grade-list,  {
  display: inline;
  font-size: 1em;
  font-family: $headline-font;
  font-weight: 400;
  color: $dark-header-color;
}

.lesson-description {
  font-size: 1.1em;
  font-family: $headline-font;
  font-weight: 400;
  color: $dark-header-color;
}

.star-ranking {
  vertical-align: text-baseline;
}

.icon-star {
  color: gold;
  font-size: 1.5em;
  display: inline;
}

.ranking {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-25%);
  font-family: 'Hind';
  font-size: 1.2em;
  margin-left: .25em;
  color: #555;
  letter-spacing: .1em;
}

.lesson-description {
  line-height: 1.4em;
}

/***************************************
 -- START MY PROFILE PAGE --
***************************************/


/***************************************
  MY PROFILE PERSONAL INFO
***************************************/
.profile-wrapper {
  margin: 0 auto;
  width: 90%;
  padding: 3em 0 3em;
}

.user-profile-photo-wrapper {
  float: left;
  margin-left: 5em;
  margin-right: 3em;
}

.user-profile-photo-wrapper img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 3em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.18)
}

.user-profile-information-wrapper-right {
  margin-left: 10em;
}

.user-profile-unique-information {
  font-family: 'Hind';
  font-weight: 400;
  color: #333;
  font-size: 1.1em;
  letter-spacing: .02em;
  margin-bottom: 3.9em;
}

.user-profile-unique-information li {
  margin-bottom: .65em;
}

.profile-wrapper hr {
  border-top: 1px solid #ddd;
  border-bottom: #fff;
}

/***************************************
  MY PROFILE PERSONAL INFO
         MEDIA QUERY
***************************************/
@media screen and (max-width: 550px) {
  .profile-wrapper  {
    width: 100%;
}

.user-profile-photo-wrapper {
  display: block;
  text-align: center;
  margin: 0 auto 0;
}

.user-profile-photo-wrapper img {
  margin-bottom: 1em;
}

.user-profile-information-wrapper-right {
  margin: 0 auto 0;
}

.user-profile-unique-information {
  margin-bottom: 2em;
}

.profile-wrapper hr {
  width: 90%;
}
}


/************************************
              FOOTER
************************************/
footer {
  background: #2e2e40;
  max-height: 40em;
  margin-top: 4em;
  padding: 1em;
}

.footer-head {
  text-align: center;
  font-size: 4em;
  font-family: $cursive-font;
  margin: 1em 0 1em;
  color: #fff;
  padding: 0;
  font-weight: 400;
  text-shadow: none;
}

.footer-social-icons {
  text-align: center;
  font-size: 4em;
  font-family: $cursive-font;
  margin: -1em 0 1em;
  color: #fff;
}

.footer ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 0 2em 0;
}

.footer li {
  display: inline;
}

.about-footer,
.signup-footer,
.terms-footer {
  font-family: $headline-font;
  font-size: 1em;
  padding: 0 2em 0 2em;
  letter-spacing: .05em;
}

.footer a {
  text-decoration: none;
  color: #fff;
  transition: .3s background-color;
}

.footer a:hover {
  color: $top-bg-color;
  transition: .4s;
}

.footer-ruler {
  display: block;
  margin: 2em auto 2em;
  width: 40%;
  border-bottom: 1px dashed #aaa;
}

.footer-ruler hr {
  border: 0;
  height: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  width: 50%;
}

.social-icons {
  font-size: 2em;
  color: #fff;
}

.icon-twitter-circled,
.icon-facebook-circled,
.icon-pinterest-circled {
  margin: 1em .5em .5em .5em;
}

.icon-twitter-circled:hover,
.icon-facebook-circled:hover,
.icon-pinterest-circled:hover{
  color: $top-bg-color;
  transition: .4s;
  cursor: pointer;
}


/************************************
    FOOTER MEDIA QUERY
************************************/
@media screen and (max-width: 500px) {
  .footer-subheads li {
  display: block;
  margin: .5em 0 .5em;
 }
}
