// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "footer";

body {
  margin: 0;
}


.nav-wrapper-profile-page li a {
  display: block;
	padding: 15px 25px;
	text-decoration: none;
  color: #fff;
}

.top-nav-profile-page{
  list-style: none;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  margin: 0 auto;
	padding: 20px;
	width: 100%;
	background: #d95353;
	list-style-type: none;
}

.top-nav-profile-page li {
	margin: 10px;
	border-radius: 10px;
	background: #70968C;
	color: #FFF;
}

.profile-wrapper {
  @include outer-container;
  background: #b6ded4;
  padding: 1em 0 1em;
  width: 100%;
  max-width: 100em;
  margin: 0;
}

  .user-profile-photo-wrapper {
    margin-left: 5em;
    @include span-columns(2); }

  .user-profile-information-wrapper-left {
    @include span-columns(2);
    font-family: 'Merriweather', serif;
    font-weight: bolder;}

  .user-profile-information-wrapper-right {
    @include span-columns(6);
    font-family: 'Merriweather', serif;
  }


.user-profile-information-wrapper-left {
  margin-left: 3em;
}

.user-profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 3em;
}

.user-profile-information-categories,
.user-profile-unique-information {
  list-style: none;
  line-height: 1.7em;
}
